body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 20px;
    background: #ffffff;
    color: rgb(0, 0, 0);
  }
  
  #folderSelection {
    margin-bottom: 15px;
  }
  
#container {
    display: inline-block;
    position: relative;
    background: #5d5d5d;
    max-width: 90vw;
    max-height: 80vh;
    overflow: hidden;
}
  
  canvas {
    display: block;
  }
  
  #controls {
    margin-top: 10px;
  }
  
  button {
    display: inline-block;
    padding: 10px 20px;
    margin: 0 10px;
    font-size: 18px;
    width: 200px;
    height: 70px;
    cursor: pointer;
    border: none;
    border-radius: 10px;
    background-color: #313131;
    color: rgb(255, 255, 255);
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
    transition: background-color 0.3s ease;
  }

    button:hover {
        background-color: #000000;
    }
  
  #counterText {
    font-size: 18px;
    margin-left: 10px;
  }
  